<div class="languages-container container-block">
<h2 class="container-block-title">Deelnemende Centra</h2>
<ul class="list-unstyled interests-list">
<!-- <li>Leids Universitair Medisch Centrum <span class="lang-desc">href="http://www.lumc.nl"</span></li> -->
<li><a href="http://www.lumc.nl/" target="_blank">Leids Universitair Medisch Centrum </a></li>
<li><a href="http://www.mchaaglanden.nl/" target="_blank">Haaglanden Medisch Centrum </a></li>
<li><a href="http://www.hagaziekenhuis.nl/" target="_blank">HagaZiekenhuis van Den Haag </a></li>
<li><a href="http://www.erasmusmc.nl/" target="_blank">Erasmus Medisch Centrum </a></li>
<li><a href="http://www.heliomare.nl/" target="_blank">Heliomare </a></li>
<li><a href="http://www.rijndam.nl/" target="_blank">Rijndam Revalidatie </a></li>
<li><a href="http://www.sophiarevalidatie.nl/" target="_blank">Sophia Revalidatie </a></li>
<li><a href="http://www.net-qure.nl" target="_blank">Uitbreiding volgt </a></li>
</ul>
</div><!--//interests-->
