<section class="section summary-section">
<h2 class="section-title">Studie informatie</h2>
<img class="section-img" src="{{site.baseurl}}/assets/images/infologo.png" alt="logo">
<div class="summary">
    <p> <br> Net-Qure is een gezamelijk initiatief van
      <br> - LUMC
      <br> - Erasmus MC (Afdeling revalidatie)
      <br> - Rijndam Revalidatie.
       <br> <br> Achtergrondinformatie:
       <br> Traumatisch hersenletsel is de belangrijkste doodsoorzaak onder de 45 jaar en heeft bij overleving een grote impact op de kwaliteit van leven.
       Dit komt vaak door resterende lichamelijke, cognitieve en/of psychosociale beperkingen. Ondanks deze ernstige gevolgen is er weinig bekend over het beste behandeltraject.
       Wat is het beste tijdstip om te opereren en welke operatie kan het best worden uitgevoerd? Hoe intensief moet je behandelen, voor hoe lang en in welke vorm?
       De huidige zorg voor deze patienten varieert tussen instellingen en voor een deel is deze praktijkvariatie onbekend. Deze studie registreert en vergelijkt
       de gehele zorgketen van de neurotrauma patient. Het doel van dit project is om verschillende behandeltrajecten in Nederland in kaart te brengen en de effectiviteit ervan
       te toetsen. Dit doen we door gebruik te maken van bestaande variatie tussen zorginstellingen.
       <br> De eerste onderzoeksvraag is of het zinvol is om alle patienten met een traumatische bloeding in het hoofd acuut te opereren of af te wachten op een operatie te voorkomen.
       Hiernaast wordt onderzocht waarin revalidatietrajecten varieren en de invloed hiervan op de uitkomst.
      <br> <br> Om deze vragen te beantwoorden is een standaard set van uitkomstmaten gedefinieerd, die op verschillende momenten gedurende de gehele zorgketen zal worden afgenomen.
       <br>
       <br> Op termijn zal deze website uitgebreid worden met meer informatie.
      <br> Zie ook de site van
      <a href="http://www.center-tbi.eu" target="_blank"> CENTER-TBI </a> voor meer informatie
      <br> <br> Met dank aan Maartje Kunen voor het maken van het logo.
</div><!--//summary-->
</section><!--//section-->
